lab1/http_post.json
[{"id":"3dd6c017.88aa7","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"11e6012d.3b0c8f","type":"http in","z":"3dd6c017.88aa7","name":"","url":"/hello","method":"post","upload":false,"swaggerDoc":"","x":170,"y":100,"wires":[["d89c891d.4bea78","4c1d5b01.a4cc64"]]},{"id":"d89c891d.4bea78","type":"function","z":"3dd6c017.88aa7","name":"HELLO","func":"msg.payload = \"Hi~ \" + msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["52b17808.1c3ad8","7463f081.4cb65"]]},{"id":"52b17808.1c3ad8","type":"http response","z":"3dd6c017.88aa7","name":"","statusCode":"","headers":{},"x":490,"y":100,"wires":[]},{"id":"7463f081.4cb65","type":"debug","z":"3dd6c017.88aa7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":140,"wires":[]},{"id":"4c1d5b01.a4cc64","type":"debug","z":"3dd6c017.88aa7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":140,"wires":[]}]