lab4/google_location2.json
[{"id":"a24746d3.682ca8","type":"tab","label":"Location","disabled":false,"info":""},{"id":"3e544f28.c81c4","type":"inject","z":"a24746d3.682ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["c1997160.9ab83"]]},{"id":"d951b3de.51b4d","type":"http request","z":"a24746d3.682ca8","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications","tls":"","persist":false,"proxy":"","authType":"basic","x":470,"y":100,"wires":[["a8e6d2a0.1dd4e"]]},{"id":"a8e6d2a0.1dd4e","type":"debug","z":"a24746d3.682ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":100,"wires":[]},{"id":"c1997160.9ab83","type":"function","z":"a24746d3.682ca8","name":"MY_SENSOR","func":"msg.payload =\n'<om2m:application xmlns:om2m=\"http://uri.etsi.org/m2m\" appId=\"MY_SENSOR\">'+\n'</om2m:application>';\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["d951b3de.51b4d"]]},{"id":"472e505d.5c6","type":"inject","z":"a24746d3.682ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["c0f49b1c.6be038"]]},{"id":"96c9da21.66a6c8","type":"http request","z":"a24746d3.682ca8","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":160,"wires":[["d82b0c13.c1b26"]]},{"id":"d82b0c13.c1b26","type":"debug","z":"a24746d3.682ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":160,"wires":[]},{"id":"c0f49b1c.6be038","type":"function","z":"a24746d3.682ca8","name":"DATA","func":"msg.payload =\n'<om2m:container xmlns:om2m=\"http://uri.etsi.org/m2m\" om2m:id=\"DATA\">'+\n'</om2m:container>'\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["96c9da21.66a6c8"]]},{"id":"615058f3.be36e8","type":"inject","z":"a24746d3.682ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["fc68f8bb.9c6e38"]]},{"id":"fc68f8bb.9c6e38","type":"http request","z":"a24746d3.682ca8","name":"DELETE","method":"DELETE","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR","tls":"","persist":false,"proxy":"","authType":"basic","x":280,"y":40,"wires":[["c1233c.f2da7cc8"]]},{"id":"c1233c.f2da7cc8","type":"debug","z":"a24746d3.682ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":40,"wires":[]},{"id":"933852df.90b5c","type":"inject","z":"a24746d3.682ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["745df632.538a08"]]},{"id":"5ddc079c.eca338","type":"http request","z":"a24746d3.682ca8","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances/subscriptions","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":220,"wires":[["316233ff.daa17c"]]},{"id":"316233ff.daa17c","type":"debug","z":"a24746d3.682ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":220,"wires":[]},{"id":"745df632.538a08","type":"function","z":"a24746d3.682ca8","name":"DATA_sub","func":"msg.payload=\n'<om2m:subscription xmlns:om2m=\"http://uri.etsi.org/m2m\">'+ \n    '<om2m:contact>http://localhost:1880/SUB</om2m:contact>'+\n'</om2m:subscription>';\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["5ddc079c.eca338"]]},{"id":"740d760f.908f18","type":"http response","z":"a24746d3.682ca8","name":"","statusCode":"","headers":{},"x":250,"y":380,"wires":[]},{"id":"fea64b29.728028","type":"xml","z":"a24746d3.682ca8","name":"","property":"payload","attr":"","chr":"","x":250,"y":420,"wires":[["efdbac77.b5087","9f2c5cb5.11ada"]]},{"id":"2aafff40.de5e1","type":"debug","z":"a24746d3.682ca8","name":"contentInstance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":380,"wires":[]},{"id":"efdbac77.b5087","type":"function","z":"a24746d3.682ca8","name":"EXTRACT","func":"var text = msg.payload[\"om2m:notify\"][\"om2m:representation\"][0]._;\nvar data = new Buffer(text, 'base64').toString('utf8');\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["9a783bd5.856e58"]]},{"id":"9f2c5cb5.11ada","type":"debug","z":"a24746d3.682ca8","name":"notify","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":380,"wires":[]},{"id":"9a783bd5.856e58","type":"xml","z":"a24746d3.682ca8","name":"","property":"payload","attr":"","chr":"","x":530,"y":420,"wires":[["2aafff40.de5e1","ca97079f.bc2dd8"]]},{"id":"ca97079f.bc2dd8","type":"function","z":"a24746d3.682ca8","name":"EXTRACT","func":"var text = msg.payload[\"om2m:contentInstance\"][\"om2m:content\"][0]._;\nvar data = new Buffer(text, 'base64').toString('utf8');\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["4440662a.1aa3d8","bace31f7.a6929"]]},{"id":"4440662a.1aa3d8","type":"debug","z":"a24746d3.682ca8","name":"obj","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":380,"wires":[]},{"id":"671ca879.4d7218","type":"http in","z":"a24746d3.682ca8","name":"","url":"/GPS","method":"post","upload":false,"swaggerDoc":"","x":110,"y":320,"wires":[["db32093b.598ee8","ad135c42.5412"]]},{"id":"db32093b.598ee8","type":"http response","z":"a24746d3.682ca8","name":"","statusCode":"","headers":{},"x":270,"y":280,"wires":[]},{"id":"572181d6.c7dbe","type":"debug","z":"a24746d3.682ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":280,"wires":[]},{"id":"ad135c42.5412","type":"function","z":"a24746d3.682ca8","name":"LOCATION","func":"var lat = msg.payload.lat;\nvar lon = msg.payload.lon;\n\nmsg.payload =\n'<obj>'+\n    '<str name=\"lat\" val=\"'+ lat +'\"/>'+\n    '<str name=\"lon\" val=\"'+ lon +'\"/>'+\n'</obj>';\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":320,"wires":[["afe84eac.05f3c","572181d6.c7dbe"]]},{"id":"afe84eac.05f3c","type":"http request","z":"a24746d3.682ca8","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":320,"wires":[["90180926.361d28"]]},{"id":"90180926.361d28","type":"debug","z":"a24746d3.682ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":320,"wires":[]},{"id":"b7e99dd9.a360a","type":"http in","z":"a24746d3.682ca8","name":"","url":"/INFO","method":"get","upload":false,"swaggerDoc":"","x":100,"y":520,"wires":[["f425af63.cb77c"]]},{"id":"6cbb139f.f22d0c","type":"http in","z":"a24746d3.682ca8","name":"","url":"/SUB","method":"post","upload":false,"swaggerDoc":"","x":110,"y":420,"wires":[["fea64b29.728028","740d760f.908f18"]]},{"id":"bace31f7.a6929","type":"file","z":"a24746d3.682ca8","name":"latest obj","filename":"location.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":820,"y":420,"wires":[[]]},{"id":"f425af63.cb77c","type":"file in","z":"a24746d3.682ca8","name":"latest obj","filename":"location.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":260,"y":520,"wires":[["6e66a21b.a2b9dc","29619b94.30fe24"]]},{"id":"6e66a21b.a2b9dc","type":"debug","z":"a24746d3.682ca8","name":"obj","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":480,"wires":[]},{"id":"29619b94.30fe24","type":"xml","z":"a24746d3.682ca8","name":"","property":"payload","attr":"","chr":"","x":410,"y":520,"wires":[["eaa425ec.dc31f8"]]},{"id":"eaa425ec.dc31f8","type":"function","z":"a24746d3.682ca8","name":"EXTRACT","func":"var lat = msg.payload.obj.str[0].$.val;\nvar lon = msg.payload.obj.str[1].$.val;\n\nmsg.payload = lat + \",\" + lon;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["aee8a0d7.3cdd1","2b25f663.fb974a"]]},{"id":"aee8a0d7.3cdd1","type":"http response","z":"a24746d3.682ca8","name":"","statusCode":"","headers":{},"x":730,"y":520,"wires":[]},{"id":"2b25f663.fb974a","type":"debug","z":"a24746d3.682ca8","name":"data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":480,"wires":[]}]