lab5/lamp_control.json
[{"id":"6bf742df.62693c","type":"tab","label":"Lamp","disabled":false,"info":""},{"id":"e84f4dc8.b9892","type":"http in","z":"6bf742df.62693c","name":"","url":"/LAMP","method":"post","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["8394351a.df0058","6cb79664.ed4d48"]]},{"id":"8394351a.df0058","type":"function","z":"6bf742df.62693c","name":"CONTROL","func":"msg.status = msg.payload.control;\nmsg.payload = \"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["e9e3a3d6.0665"]]},{"id":"6cb79664.ed4d48","type":"http response","z":"6bf742df.62693c","name":"","statusCode":"","headers":{},"x":250,"y":100,"wires":[]},{"id":"e9e3a3d6.0665","type":"switch","z":"6bf742df.62693c","name":"","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":410,"y":140,"wires":[["a5bac4be.3a8238"],["2a898b4a.c65734"],["83433b7d.46e358"],["135912c.b1863ed"],["ffe18cfb.2eed9"],["e77b0833.775a58"]]},{"id":"a5bac4be.3a8238","type":"http request","z":"6bf742df.62693c","name":"LAMP0 ON","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_0/lamps/true","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":40,"wires":[[]]},{"id":"2a898b4a.c65734","type":"http request","z":"6bf742df.62693c","name":"LAMP0 OFF","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_0/lamps/false","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":80,"wires":[[]]},{"id":"83433b7d.46e358","type":"http request","z":"6bf742df.62693c","name":"LAMP1 ON","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_1/lamps/true","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":120,"wires":[[]]},{"id":"135912c.b1863ed","type":"http request","z":"6bf742df.62693c","name":"LAMP1 OFF","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_1/lamps/false","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":160,"wires":[[]]},{"id":"ffe18cfb.2eed9","type":"http request","z":"6bf742df.62693c","name":"ALL ON","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/groups/ON_ALL/membersContent","tls":"","persist":false,"proxy":"","authType":"basic","x":620,"y":200,"wires":[[]]},{"id":"e77b0833.775a58","type":"http request","z":"6bf742df.62693c","name":"ALL OFF","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/groups/OFF_ALL/membersContent","tls":"","persist":false,"proxy":"","authType":"basic","x":620,"y":240,"wires":[[]]},{"id":"efd58313.06fd3","type":"http in","z":"6bf742df.62693c","name":"","url":"/STATUS","method":"get","upload":false,"swaggerDoc":"","x":150,"y":240,"wires":[["195176fb.59fe99"]]},{"id":"195176fb.59fe99","type":"http request","z":"6bf742df.62693c","name":"LAMP0 STAT","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_0/containers/DATA/contentInstances/latest/content","tls":"","persist":false,"proxy":"","authType":"basic","x":190,"y":280,"wires":[["c39fb7e1.1c6e38","1592d435.ea327c"]]},{"id":"1592d435.ea327c","type":"http request","z":"6bf742df.62693c","name":"LAMP1 STAT","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_1/containers/DATA/contentInstances/latest/content","tls":"","persist":false,"proxy":"","authType":"basic","x":230,"y":320,"wires":[["dcb81969.822798"]]},{"id":"c39fb7e1.1c6e38","type":"xml","z":"6bf742df.62693c","name":"","property":"payload","attr":"","chr":"","x":370,"y":280,"wires":[["df2ecf31.79709"]]},{"id":"dcb81969.822798","type":"xml","z":"6bf742df.62693c","name":"","property":"payload","attr":"","chr":"","x":370,"y":320,"wires":[["c1f32b56.ea5478"]]},{"id":"df2ecf31.79709","type":"function","z":"6bf742df.62693c","name":"EXTRACT","func":"msg.payload = msg.payload.obj.bool[0].$.val;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["1fdb8bc9.9bb2b4"]]},{"id":"c1f32b56.ea5478","type":"function","z":"6bf742df.62693c","name":"EXTRACT","func":"msg.payload = msg.payload.obj.bool[0].$.val;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":320,"wires":[["1fdb8bc9.9bb2b4"]]},{"id":"1fdb8bc9.9bb2b4","type":"join","z":"6bf742df.62693c","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":300,"wires":[["ea4aa36b.821a5","a0791902.7e3958"]]},{"id":"ea4aa36b.821a5","type":"debug","z":"6bf742df.62693c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":260,"wires":[]},{"id":"a0791902.7e3958","type":"http response","z":"6bf742df.62693c","name":"","statusCode":"","headers":{},"x":770,"y":300,"wires":[]}]