lab2/google_location.json
[{"id":"13d3904a.a84e6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ee5a0d3a.acdb2","type":"http in","z":"13d3904a.a84e6","name":"","url":"/MY_LOC","method":"post","upload":false,"swaggerDoc":"","x":220,"y":120,"wires":[["2b35ddf2.50d082","52404b60.411154"]]},{"id":"52404b60.411154","type":"function","z":"13d3904a.a84e6","name":"MY_LOC","func":"msg.payload = msg.payload.lat + ', ' + msg.payload.lon\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["749657bd.5bb028","81cbfc7c.21fc"]]},{"id":"81cbfc7c.21fc","type":"http response","z":"13d3904a.a84e6","name":"","statusCode":"","headers":{},"x":550,"y":120,"wires":[]},{"id":"2b35ddf2.50d082","type":"debug","z":"13d3904a.a84e6","name":"me","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":160,"wires":[]},{"id":"749657bd.5bb028","type":"debug","z":"13d3904a.a84e6","name":"me payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":160,"wires":[]},{"id":"f6356f53.37603","type":"http in","z":"13d3904a.a84e6","name":"","url":"/SERVER_LOC","method":"get","upload":false,"swaggerDoc":"","x":230,"y":220,"wires":[["6c3463f5.4175ec","7399d0c.2e8f73"]]},{"id":"7399d0c.2e8f73","type":"function","z":"13d3904a.a84e6","name":"SERVER_LOC","func":"msg.payload = '25.040288, 121.512160'\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":220,"wires":[["82cb68ff.c55f58","915b60c1.1e78d"]]},{"id":"915b60c1.1e78d","type":"http response","z":"13d3904a.a84e6","name":"","statusCode":"","headers":{},"x":610,"y":220,"wires":[]},{"id":"6c3463f5.4175ec","type":"debug","z":"13d3904a.a84e6","name":"server","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":260,"wires":[]},{"id":"82cb68ff.c55f58","type":"debug","z":"13d3904a.a84e6","name":"server payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":260,"wires":[]}]