lab3/basic.json
[{"id":"7f6a75eb.e2a77c","type":"tab","label":"Basic","disabled":false,"info":""},{"id":"9178ed14.dce9e","type":"inject","z":"7f6a75eb.e2a77c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["946c174d.feb038"]]},{"id":"5919ff6e.bd077","type":"http request","z":"7f6a75eb.e2a77c","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":100,"wires":[["6bbc7f48.4e55b"]]},{"id":"6bbc7f48.4e55b","type":"debug","z":"7f6a75eb.e2a77c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":100,"wires":[]},{"id":"946c174d.feb038","type":"function","z":"7f6a75eb.e2a77c","name":"MY_SENSOR","func":"msg.payload =\n'<om2m:application xmlns:om2m=\"http://uri.etsi.org/m2m\" appId=\"MY_SENSOR\">'+\n    '<om2m:searchStrings>'+\n        '<om2m:searchString>Type/sensor</om2m:searchString>'+\n        '<om2m:searchString>Category/temperature</om2m:searchString>'+\n        '<om2m:searchString>Location/Home</om2m:searchString>'+\n    '</om2m:searchStrings>'+\n'</om2m:application>';\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["5919ff6e.bd077"]]},{"id":"143923d8.be2efc","type":"inject","z":"7f6a75eb.e2a77c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["740cb772.81a568"]]},{"id":"4705878f.5ae0e8","type":"http request","z":"7f6a75eb.e2a77c","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":160,"wires":[["8bf38fb2.12113"]]},{"id":"8bf38fb2.12113","type":"debug","z":"7f6a75eb.e2a77c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":160,"wires":[]},{"id":"740cb772.81a568","type":"function","z":"7f6a75eb.e2a77c","name":"DATA","func":"msg.payload =\n'<om2m:container xmlns:om2m=\"http://uri.etsi.org/m2m\" om2m:id=\"DATA\">'+\n'</om2m:container>'\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["4705878f.5ae0e8"]]},{"id":"f8d1020e.63b95","type":"inject","z":"7f6a75eb.e2a77c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["cadc848c.3812b8"]]},{"id":"cadc848c.3812b8","type":"http request","z":"7f6a75eb.e2a77c","name":"DELETE","method":"DELETE","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR","tls":"","persist":false,"proxy":"","authType":"basic","x":260,"y":40,"wires":[["22f5d022.cda95"]]},{"id":"22f5d022.cda95","type":"debug","z":"7f6a75eb.e2a77c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":40,"wires":[]},{"id":"936a0ef6.f2f27","type":"http in","z":"7f6a75eb.e2a77c","name":"","url":"/INFO","method":"post","upload":false,"swaggerDoc":"","x":90,"y":480,"wires":[["256c292a.c1f1f6","343a36ae.1d8c3a"]]},{"id":"256c292a.c1f1f6","type":"http response","z":"7f6a75eb.e2a77c","name":"","statusCode":"","headers":{},"x":250,"y":440,"wires":[]},{"id":"47fecde4.a96394","type":"debug","z":"7f6a75eb.e2a77c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":440,"wires":[]},{"id":"343a36ae.1d8c3a","type":"function","z":"7f6a75eb.e2a77c","name":"PERSON","func":"var data = msg.payload.split(\",\")\nvar name = data[0]\nvar height = data[1]\nvar weight = data[2]\n\nmsg.payload =\n'<obj>'+\n    '<str name=\"name\" val='+ name +'/>'+\n    '<str name=\"height\" val='+ height +'/>'+\n    '<str name=\"weight\" val='+ weight +'/>'+\n'</obj>';\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":480,"wires":[["748abe0f.286e9","47fecde4.a96394"]]},{"id":"748abe0f.286e9","type":"http request","z":"7f6a75eb.e2a77c","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":480,"wires":[["cc385919.45ab98"]]},{"id":"cc385919.45ab98","type":"debug","z":"7f6a75eb.e2a77c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":480,"wires":[]},{"id":"8466627a.254ba","type":"http in","z":"7f6a75eb.e2a77c","name":"","url":"/SUB","method":"post","upload":false,"swaggerDoc":"","x":90,"y":380,"wires":[["6086126d.86286c","618b80a0.cc35f"]]},{"id":"70b2e072.694b5","type":"inject","z":"7f6a75eb.e2a77c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[["511b6aa8.19ca74"]]},{"id":"5401de4.248b12","type":"http request","z":"7f6a75eb.e2a77c","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances/subscriptions","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":220,"wires":[["7ee04e5.31990b"]]},{"id":"7ee04e5.31990b","type":"debug","z":"7f6a75eb.e2a77c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":220,"wires":[]},{"id":"511b6aa8.19ca74","type":"function","z":"7f6a75eb.e2a77c","name":"DATA_sub","func":"msg.payload=\n'<om2m:subscription xmlns:om2m=\"http://uri.etsi.org/m2m\">'+ \n    '<om2m:contact>http://localhost:1880/SUB</om2m:contact>'+\n'</om2m:subscription>';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["5401de4.248b12"]]},{"id":"6086126d.86286c","type":"http response","z":"7f6a75eb.e2a77c","name":"","statusCode":"","headers":{},"x":230,"y":340,"wires":[]},{"id":"618b80a0.cc35f","type":"xml","z":"7f6a75eb.e2a77c","name":"","property":"payload","attr":"","chr":"","x":230,"y":380,"wires":[["69de9970.c2d1e8","2e235181.12c8ce"]]},{"id":"901b0122.9d0be","type":"debug","z":"7f6a75eb.e2a77c","name":"contentInstance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":340,"wires":[]},{"id":"7d63b11a.692d3","type":"inject","z":"7f6a75eb.e2a77c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["2d748d80.eb21a2"]]},{"id":"2d748d80.eb21a2","type":"function","z":"7f6a75eb.e2a77c","name":"PERSON","func":"msg.payload =\n'<obj>'+\n    '<str name=\"name\" val=\"Bill\"/>'+\n    '<str name=\"height\" val=\"180\"/>'+\n    '<str name=\"weight\" val=\"65\"/>'+\n'</obj>';\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["5615600c.aed3c"]]},{"id":"5615600c.aed3c","type":"http request","z":"7f6a75eb.e2a77c","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":280,"wires":[["87ddc9f9.f055d8"]]},{"id":"87ddc9f9.f055d8","type":"debug","z":"7f6a75eb.e2a77c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":280,"wires":[]},{"id":"69de9970.c2d1e8","type":"function","z":"7f6a75eb.e2a77c","name":"EXTRACT","func":"var text = msg.payload[\"om2m:notify\"][\"om2m:representation\"][0]._\nvar data = new Buffer(text, 'base64').toString('utf8');\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["564bee24.15be5"]]},{"id":"2e235181.12c8ce","type":"debug","z":"7f6a75eb.e2a77c","name":"notify","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":340,"wires":[]},{"id":"564bee24.15be5","type":"xml","z":"7f6a75eb.e2a77c","name":"","property":"payload","attr":"","chr":"","x":510,"y":380,"wires":[["901b0122.9d0be","9e9cadce.49bfe"]]},{"id":"9e9cadce.49bfe","type":"function","z":"7f6a75eb.e2a77c","name":"EXTRACT","func":"var text = msg.payload[\"om2m:contentInstance\"][\"om2m:content\"][0]._\nvar data = new Buffer(text, 'base64').toString('utf8');\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":380,"wires":[["27f131df.243bbe","7c2df58b.043c4c"]]},{"id":"27f131df.243bbe","type":"debug","z":"7f6a75eb.e2a77c","name":"obj","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":340,"wires":[]},{"id":"7c2df58b.043c4c","type":"file","z":"7f6a75eb.e2a77c","name":"","filename":"test.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":810,"y":380,"wires":[[]]}]