lab3/basic.json
[{"id":"b19a862d.e0c048","type":"tab","label":"Advanced","disabled":false,"info":""},{"id":"61623b6c.d4dbf4","type":"inject","z":"b19a862d.e0c048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":140,"wires":[["1e3fd814.4d4568"]]},{"id":"c31cf9ae.1ff438","type":"http request","z":"b19a862d.e0c048","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications","tls":"","persist":false,"proxy":"","authType":"basic","x":530,"y":140,"wires":[["d496e8ed.fc5f58"]]},{"id":"d496e8ed.fc5f58","type":"debug","z":"b19a862d.e0c048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":140,"wires":[]},{"id":"1e3fd814.4d4568","type":"function","z":"b19a862d.e0c048","name":"MY_SENSOR","func":"msg.payload =\n'<om2m:application xmlns:om2m=\"http://uri.etsi.org/m2m\" appId=\"MY_SENSOR\">'+\n    '<om2m:searchStrings>'+\n        '<om2m:searchString>Type/sensor</om2m:searchString>'+\n        '<om2m:searchString>Category/temperature</om2m:searchString>'+\n        '<om2m:searchString>Location/Home</om2m:searchString>'+\n    '</om2m:searchStrings>'+\n'</om2m:application>';\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["c31cf9ae.1ff438"]]},{"id":"eee77c48.ad6c4","type":"inject","z":"b19a862d.e0c048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":200,"wires":[["ce4dbb21.296748"]]},{"id":"15799bcc.2d15e4","type":"http request","z":"b19a862d.e0c048","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers","tls":"","persist":false,"proxy":"","authType":"basic","x":470,"y":200,"wires":[["4b4fd562.574e7c"]]},{"id":"4b4fd562.574e7c","type":"debug","z":"b19a862d.e0c048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":200,"wires":[]},{"id":"ce4dbb21.296748","type":"function","z":"b19a862d.e0c048","name":"DATA","func":"msg.payload =\n'<om2m:container xmlns:om2m=\"http://uri.etsi.org/m2m\" om2m:id=\"DATA\">'+\n'</om2m:container>'\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["15799bcc.2d15e4"]]},{"id":"e12f32c8.790d4","type":"inject","z":"b19a862d.e0c048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":80,"wires":[["5a2264eb.27d2ac"]]},{"id":"5a2264eb.27d2ac","type":"http request","z":"b19a862d.e0c048","name":"DELETE","method":"DELETE","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR","tls":"","persist":false,"proxy":"","authType":"basic","x":340,"y":80,"wires":[["2e4e0f2b.57bb2"]]},{"id":"2e4e0f2b.57bb2","type":"debug","z":"b19a862d.e0c048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":80,"wires":[]},{"id":"c6365164.edcae","type":"http in","z":"b19a862d.e0c048","name":"","url":"/INFO","method":"post","upload":false,"swaggerDoc":"","x":170,"y":520,"wires":[["aa1db485.211fc8","9e46fc65.d15d9"]]},{"id":"aa1db485.211fc8","type":"http response","z":"b19a862d.e0c048","name":"","statusCode":"","headers":{},"x":330,"y":480,"wires":[]},{"id":"6ecccd6.8751434","type":"debug","z":"b19a862d.e0c048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":480,"wires":[]},{"id":"9e46fc65.d15d9","type":"function","z":"b19a862d.e0c048","name":"PERSON","func":"var data = msg.payload.split(\",\")\nvar name = data[0]\nvar height = data[1]\nvar weight = data[2]\n\nmsg.payload =\n'<obj>'+\n    '<str name=\"name\" val='+ name +'/>'+\n    '<str name=\"height\" val='+ height +'/>'+\n    '<str name=\"weight\" val='+ weight +'/>'+\n'</obj>';\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":520,"wires":[["d5df9e9b.15e51","6ecccd6.8751434"]]},{"id":"d5df9e9b.15e51","type":"http request","z":"b19a862d.e0c048","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":520,"wires":[["820bce2.469963"]]},{"id":"820bce2.469963","type":"debug","z":"b19a862d.e0c048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":520,"wires":[]},{"id":"184134a.5c0eecb","type":"http in","z":"b19a862d.e0c048","name":"","url":"/SUB","method":"post","upload":false,"swaggerDoc":"","x":170,"y":420,"wires":[["ce594340.af59a","759f59b7.500198"]]},{"id":"bba328cd.1f8718","type":"inject","z":"b19a862d.e0c048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["69f1be53.9dae7"]]},{"id":"fbe03dac.e9b75","type":"http request","z":"b19a862d.e0c048","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances/subscriptions","tls":"","persist":false,"proxy":"","authType":"basic","x":510,"y":260,"wires":[["bb9273f7.e6faa"]]},{"id":"bb9273f7.e6faa","type":"debug","z":"b19a862d.e0c048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":260,"wires":[]},{"id":"69f1be53.9dae7","type":"function","z":"b19a862d.e0c048","name":"DATA_sub","func":"msg.payload=\n'<om2m:subscription xmlns:om2m=\"http://uri.etsi.org/m2m\">'+ \n    '<om2m:contact>http://localhost:1880/SUB</om2m:contact>'+\n'</om2m:subscription>';\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["fbe03dac.e9b75"]]},{"id":"ce594340.af59a","type":"http response","z":"b19a862d.e0c048","name":"","statusCode":"","headers":{},"x":310,"y":380,"wires":[]},{"id":"759f59b7.500198","type":"xml","z":"b19a862d.e0c048","name":"","property":"payload","attr":"","chr":"","x":310,"y":420,"wires":[["be67226e.eea1c","3f0ea202.1ca3ee"]]},{"id":"b3bb86b4.44c698","type":"debug","z":"b19a862d.e0c048","name":"contentInstance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":380,"wires":[]},{"id":"82d40927.6a8988","type":"inject","z":"b19a862d.e0c048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["2354ed5.66ee412"]]},{"id":"2354ed5.66ee412","type":"function","z":"b19a862d.e0c048","name":"PERSON","func":"msg.payload =\n'<obj>'+\n    '<str name=\"name\" val=\"Bill\"/>'+\n    '<str name=\"height\" val=\"180\"/>'+\n    '<str name=\"weight\" val=\"65\"/>'+\n'</obj>';\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["8210cc25.0118e"]]},{"id":"8210cc25.0118e","type":"http request","z":"b19a862d.e0c048","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":320,"wires":[["11f1aaff.b4d845"]]},{"id":"11f1aaff.b4d845","type":"debug","z":"b19a862d.e0c048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":320,"wires":[]},{"id":"be67226e.eea1c","type":"function","z":"b19a862d.e0c048","name":"EXTRACT","func":"var text = msg.payload[\"om2m:notify\"][\"om2m:representation\"][0]._\nvar data = new Buffer(text, 'base64').toString('utf8');\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["90e4b266.941f3"]]},{"id":"3f0ea202.1ca3ee","type":"debug","z":"b19a862d.e0c048","name":"notify","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":380,"wires":[]},{"id":"90e4b266.941f3","type":"xml","z":"b19a862d.e0c048","name":"","property":"payload","attr":"","chr":"","x":590,"y":420,"wires":[["b3bb86b4.44c698","2960b0ad.630c7"]]},{"id":"2960b0ad.630c7","type":"function","z":"b19a862d.e0c048","name":"EXTRACT","func":"var text = msg.payload[\"om2m:contentInstance\"][\"om2m:content\"][0]._\nvar data = new Buffer(text, 'base64').toString('utf8');\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":420,"wires":[["bdeeabf8.14d828","384b450c.cd153a"]]},{"id":"bdeeabf8.14d828","type":"debug","z":"b19a862d.e0c048","name":"obj","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":380,"wires":[]},{"id":"384b450c.cd153a","type":"file","z":"b19a862d.e0c048","name":"","filename":"test.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":890,"y":420,"wires":[[]]}]